.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    box-sizing: border-box;
    padding: 2vh 8vw;
    background: #f5f5f5;
    width: 100%;
}

.title {
    margin-bottom: 2vh;
    font-size: 1.5rem;
    font-weight: 200;
    color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.label > span {
    flex: 1;
}

.input {
    flex: 2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.submit {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 2vh;
}