.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 7vh;
    margin: 0;
    padding-left: 0px;
    width: 100vw;
    overflow-y: scroll;
    box-sizing: border-box;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 10px;
    box-sizing: border-box;
    margin: 0px;
    width: 50%;
    float: left;
}

.title {
    font-size: 2em;
    color: #333;
    text-align: left;
    margin-left: 3vw;
    font-weight: 200;
}

.campaignList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
}

.panel {
    width: 100%
}

.right {
    width: 50%;
    float: right;
}



