.tenderStatusContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: auto;
    min-width: 40%;
    height: auto;
    overflow: auto;
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.tenderStatusHeader,
.bidsHeader {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.contractAddressInfo,
.tenderIdInfo {
    color: #666;
    font-size: .8rem;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.bidContainer {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.bidderInfo,
.bidAmountInfo,
.bidDetailsInfo,
.bidEvaluationStatus,
.bidWinnerStatus,
.bidBusinessName {
    color: #333;
    font-size: .7rem;
    margin-bottom: 10px;
    padding: 2px 10px;
    box-sizing: border-box;
    text-wrap: wrap;
    overflow-wrap: break-word;
}